<h1><%= @company.name %> Employees</h1>

<ul>
  <% @company.employments.each do |employment| %>
    <li><%= employment.email %> | <%= employment.slack_handle %></li>
  <% end %>
</ul>

<%= form_for EmploymentForm.new, url: url_for(controller: :employments, action: :create) do |f| %>
  <%= f.hidden_field :company_id, value: @company.id %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :slack_handle %>
  <%= f.text_field :slack_handle %>
  <%= f.submit 'Add Employee' %>
<% end %>

<hr />

<h1>Questions</h1>

<ul>
  <% @company.questions.each do |question| %>
    <li><%= question.text %></li>
<% end %>
</ul>

<%= form_for [ @company, Question.new ] do |f| %>
  <%= f.label :text %>
  <%= f.text_area :text %>
  <%= f.submit 'Add Question' %>
<% end %>
